/gfsm.pc
/magic
/magic.local
/*~
/.*~
/*.o
/*.lo
/*.la
/*.a
/*.so
/*.gz
/*.bz2
/*.deb
/*.changes
/*.dsc
/*.rpm
/rpm
/.libs
/.deps
/aclocal.m4
/autom4te.cache
/Makefile
/Makefile.in
/*.tmp
/configure
/config.log
/config.status
/config.cache
/libtool
/include

/tests/*~
/tests/.*~
/tests/perl-t
/tests/atconfig
/tests/atlocal
/tests/Makefile
/tests/Makefile.in
/tests/testsuite
/tests/testsuite.dir
/tests/testsuite.log
/tests/testsuite.stamp

/tests/data/*~
/tests/data/.*~
/tests/data/*.gfst

/doc/doxygen*.db
/doc/html
/doc/latex
/doc/man
/doc/*.stamp
/doc/*~
/doc/.*~
/doc/*.o
/doc/*.lo
/doc/*.la
/doc/.libs
/doc/*.a
/doc/*.so
/doc/*.gz
/doc/*.bz2
/doc/*.zip
/doc/.deps
/doc/autom4te.cache
/doc/aclocal.m4
/doc/Makefile
/doc/Makefile.in
/doc/README.txt
/doc/configure
/doc/config.log
/doc/config.status
/doc/config.cache
/doc/libtool
/doc/tmp

/doc/programs/*.tmp
/doc/programs/acknowledge.pod
/doc/programs/*.gog
/doc/programs/*.html
/doc/programs/*.txt
/doc/programs/*.tex
/doc/programs/*.1
/doc/programs/*.man
/doc/programs/*.ps
/doc/programs/*.pdf
/doc/programs/*.dvi
/doc/programs/*.aux
/doc/programs/*.log
/doc/programs/*.toc
/doc/programs/*.idx
/doc/programs/*.stamp
/doc/programs/*~
/doc/programs/.*~
/doc/programs/*.o
/doc/programs/*.lo
/doc/programs/*.la
/doc/programs/.libs
/doc/programs/*.a
/doc/programs/*.so
/doc/programs/*.gz
/doc/programs/*.bz2
/doc/programs/*.zip
/doc/programs/.deps
/doc/programs/autom4te.cache
/doc/programs/aclocal.m4
/doc/programs/Makefile
/doc/programs/Makefile.in
/doc/programs/README.txt
/doc/programs/configure
/doc/programs/config.log
/doc/programs/config.status
/doc/programs/config.cache
/doc/programs/libtool

/doc/libgfsm/doxygen*.db
/doc/libgfsm/mainpage.dox
/doc/libgfsm/html
/doc/libgfsm/latex
/doc/libgfsm/man
/doc/libgfsm/libgfsm.doxy
/doc/libgfsm/doxy-filter.log
/doc/libgfsm/libgfsm.log
/doc/libgfsm/libgfsm.tag
/doc/libgfsm/*.stamp
/doc/libgfsm/*~
/doc/libgfsm/.*~
/doc/libgfsm/*.o
/doc/libgfsm/*.lo
/doc/libgfsm/*.la
/doc/libgfsm/.libs
/doc/libgfsm/*.a
/doc/libgfsm/*.so
/doc/libgfsm/*.gz
/doc/libgfsm/*.bz2
/doc/libgfsm/*.zip
/doc/libgfsm/.deps
/doc/libgfsm/autom4te.cache
/doc/libgfsm/aclocal.m4
/doc/libgfsm/Makefile
/doc/libgfsm/Makefile.in
/doc/libgfsm/README.txt
/doc/libgfsm/configure
/doc/libgfsm/config.log
/doc/libgfsm/config.status
/doc/libgfsm/config.cache
/doc/libgfsm/libtool
/doc/libgfsm/doxy-filter.cfg

/src/*~
/src/.*~
/src/*.o
/src/*.lo
/src/*.la
/src/.libs
/src/*.a
/src/*.so
/src/.deps
/src/*.fst
/src/*.tfst
/src/*.lab
/src/stamp-h*
/src/config.h
/src/config.h.in
/src/aclocal.m4
/src/Makefile
/src/Makefile.in
/src/README.txt
/src/configure

/src/programs/gfsmapply
/src/programs/gfsmtrain
/src/programs/gfsmindex
/src/programs/gfsmdepths
/src/programs/gfsmarcsort
/src/programs/gfsmarcuniq
/src/programs/gfsmarith
/src/programs/gfsmheader
/src/programs/gfsmoptional
/src/programs/gfsmreplace
/src/programs/gfsmsigma
/src/programs/gfsmclosure
/src/programs/gfsmcompact
/src/programs/gfsmcompile
/src/programs/gfsmcomplement
/src/programs/gfsmcompose
/src/programs/gfsmcompre
/src/programs/gfsmconcat
/src/programs/gfsmconnect
/src/programs/gfsmconvert
/src/programs/gfsmdeterminize
/src/programs/gfsmdifference
/src/programs/gfsmdraw
/src/programs/gfsmencode
/src/programs/gfsminfo
/src/programs/gfsmintersect
/src/programs/gfsminvert
/src/programs/gfsmlabels
/src/programs/gfsmlookup
/src/programs/gfsmminimize
/src/programs/gfsmprint
/src/programs/gfsmproduct
/src/programs/gfsmproject
/src/programs/gfsmprune
/src/programs/gfsmrenumber
/src/programs/gfsmreverse
/src/programs/gfsmrmepsilon
/src/programs/gfsmstrings
/src/programs/gfsmunion
/src/programs/gfsmviterbi
/src/programs/morph
/src/programs/*.out
/src/programs/*.tmp
/src/programs/tmp.*
/src/programs/tmp
/src/programs/SFST*
/src/programs/*~
/src/programs/.*~
/src/programs/*.o
/src/programs/*.lo
/src/programs/*.la
/src/programs/.libs
/src/programs/*.a
/src/programs/*.so
/src/programs/.deps
/src/programs/*.ps
/src/programs/*.lfsa
/src/programs/*.fst
/src/programs/*.fsa
/src/programs/*.thfst
/src/programs/*.afst
/src/programs/*.afsa
/src/programs/*.gfsa
/src/programs/*.gfst
/src/programs/*.dot
/src/programs/*.scl
/src/programs/argh
/src/programs/save
/src/programs/tdata
/src/programs/stamp-h*
/src/programs/aclocal.m4
/src/programs/Makefile
/src/programs/Makefile.in
/src/programs/README.txt
/src/programs/configure
/src/programs/ma-dwds-hacks

/src/programs/test/*.gfs[atm]
/src/programs/test/*.afs[atm]
/src/programs/test/*.gmon.out
/src/programs/test/*.gprof
/src/programs/test/lts-dta*
/src/programs/test/*~
/src/programs/test/symtest.scl

/src/libgfsm/*~
/src/libgfsm/.*~
/src/libgfsm/*.o
/src/libgfsm/*.lo
/src/libgfsm/*.la
/src/libgfsm/*.a
/src/libgfsm/*.so
/src/libgfsm/.libs
/src/libgfsm/.deps
/src/libgfsm/*.fst
/src/libgfsm/*.tfst
/src/libgfsm/*.lab
/src/libgfsm/*.loT
/src/libgfsm/gfsmConfigAuto.*
/src/libgfsm/gfsmConfigNoAuto.h
/src/libgfsm/gmon.out
/src/libgfsm/*.output
/src/libgfsm/stamp-h*
/src/libgfsm/config.h.in
/src/libgfsm/aclocal.m4
/src/libgfsm/Makefile
/src/libgfsm/Makefile.in
/src/libgfsm/README.txt
/src/libgfsm/configure
/src/libgfsm/graveyard
/src/libgfsm/*.tfst
/src/libgfsm/*.afst
/src/libgfsm/*.thfst
/src/libgfsm/*.gfst
/src/libgfsm/*.lab
/src/libgfsm/*.scl
/src/libgfsm/*.sym
/src/libgfsm/*.dot
/src/libgfsm/*.vcg
/src/libgfsm/*.ps
/src/libgfsm/*.tfst
/src/libgfsm/fsmlib
/src/libgfsm/SFST.moocow
/src/libgfsm/fsa6-src
/src/libgfsm/pd-fst
/src/libgfsm/save
/src/libgfsm/libgfsm.*

/src/libgfsm/tests/*~
/src/libgfsm/tests/.*~
/src/libgfsm/tests/*.gfst
/src/libgfsm/tests/*.output
/src/libgfsm/tests/*.lex.c
/src/libgfsm/tests/*.lex.h
/src/libgfsm/tests/*.tab.c
/src/libgfsm/tests/*.tab.h
/src/libgfsm/tests/*.gz
/src/libgfsm/tests/tagh*
/src/libgfsm/tests/*.dat
/src/libgfsm/tests/negra*
/src/libgfsm/tests/lts-grimm.*
/src/libgfsm/tests/ma-dwds-hacks
/src/libgfsm/tests/offsettest
/src/libgfsm/tests/priotest
/src/libgfsm/tests/seek2test
/src/libgfsm/tests/seek3test
/src/libgfsm/tests/seektest
/src/libgfsm/tests/gfsmlabdump
/src/libgfsm/tests/iotest
/src/libgfsm/tests/pathtest
/src/libgfsm/tests/ftest
/src/libgfsm/tests/memtest-general
/src/libgfsm/tests/calctest
/src/libgfsm/tests/calc2test
/src/libgfsm/tests/flextest
/src/libgfsm/tests/flex2test
/src/libgfsm/tests/flex3test
/src/libgfsm/tests/compretest
/src/libgfsm/tests/comprelex
/src/libgfsm/tests/compre2test
/src/libgfsm/tests/structtest
/src/libgfsm/tests/flextest.c
/src/libgfsm/tests/flextest.h
/src/libgfsm/tests/arcpaths
/src/libgfsm/tests/arcpaths.lab
/src/libgfsm/tests/arcpaths.gfst
/src/libgfsm/tests/morph

/src/libgfsm/tests/module/*~
/src/libgfsm/tests/module/.*~
/src/libgfsm/tests/module/*.gfst
/src/libgfsm/tests/module/*.output
/src/libgfsm/tests/module/*.lex.c
/src/libgfsm/tests/module/*.lex.h
/src/libgfsm/tests/module/*.tab.c
/src/libgfsm/tests/module/*.tab.h
/src/libgfsm/tests/module/*.gz
/src/libgfsm/tests/module/*.so
/src/libgfsm/tests/module/*.o
/src/libgfsm/tests/module/tagh*
/src/libgfsm/tests/module/*.dat
/src/libgfsm/tests/module/negra*
/src/libgfsm/tests/module/mod1test

/src/libgfsm/gnulib/.*~
/src/libgfsm/gnulib/*~
/src/libgfsm/gnulib/*.o
/src/libgfsm/gnulib/*.lo
/src/libgfsm/gnulib/*.a
/src/libgfsm/gnulib/*.la
/src/libgfsm/gnulib/*.so
/src/libgfsm/gnulib/Makefile
/src/libgfsm/gnulib/Makefile.in
/src/libgfsm/gnulib/orig
/src/libgfsm/gnulib/.libs

/config/*~
/config/.*~
/config/*.o
/config/*.lo
/config/*.la
/config/.libs
/config/*.a
/config/*.so
/config/aclocal.m4
/config/Makefile
/config/Makefile.in
/config/README.txt
/config/configure
/config/.deps
/config/compile
/config/depcomp
/config/missing
/config/config.guess
/config/config.sub
/config/ltmain.sh
/config/install-sh
/config/ylwrap

/m4/*~
/m4/.*~
/m4/Makefile.in
/m4/Makefile
/m4/libtool.m4
/m4/lt*.m4

